:root {
  --dark-blue: hsl(221, 59%, 26%);
  --darker-blue: hsl(221, 59%, 16%);
  --orange: hsl(34, 100%, 52%);
  --dark-orange: hsl(34, 100%, 38%);
  --off-white: hsl(52, 91%, 83%);
  --off-black: hsl(0, 11%, 12%);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  margin: 0;
  background-color: var(--dark-blue);
  color: var(--off-white);
}

nav a {
  all: unset;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h2 {
  text-align: center;
}

.initial-font-resize {
  font-size: 1.1em;
}

.orange {
  color: var(--orange);
}

.dark-orange {
  color: var(--dark-orange);
}

.upscale-fs {
  font-size: 110%;
}

.margin-top {
  margin-top: 10px;
}

.top-nav-bar {
  width: 100%;
  display: flex;
}

.top-nav-bar ul {
  width: 100%;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.top-nav-bar li {
  transition: color 160ms ease-in-out;
}

.top-nav-bar li:hover {
  cursor: pointer;
  color: var(--orange);
}

.flex-ctr-x {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.flex-ctr-y {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

#prof-pic-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  min-width: fit-content;
}

#prof-pic {
  height: 300px;
  width: auto;
  z-index: 1;
}

.circle {
  background: radial-gradient(var(--off-white) 50%, var(--dark-blue) 70%);
  border-radius: 50%;
  position: absolute;
  width: 255px;
  height: 255px;
  max-width: 90%;
}

.white-info-stretch {
  gap: 2em;
  min-height: 120px;
  text-align: justify;
  margin-top: 1em;
  padding: 0.5em 1em;
  font-size: 1em;
  color: var(--darker-blue);
  background-color: hsl(42, 100%, 100%);
  width: 100%;
}

.icon {
  width: 73px;
  transition: all 0.1s ease-in-out;
}

.white-info-stretch .icon:hover {
  transform: rotate(0.03turn);
  scale: 0.9;
}

.white-info-stretch > .flex-ctr-x {
  display: grid;
  grid-template-columns: repeat(auto-fit, 73px);
  min-height: 85px;
  padding: 5px;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid grey;
  box-shadow: 1px 2px 5px darkslategray;
  font-size: 15px;
}

.project-box {
  display: flex;
  flex-direction: column;
  width: 592px;
  min-height: 400px;
  height: fit-content;
  outline: 1px solid var(--darker-blue);
  gap: 10px;
  padding: 0 5px;
}

.project-box img {
  border-radius: 5px;
  border: 2px solid var(--dark-blue);
}

.mobile-project-img {
  position: relative;
  left: 75%;
  bottom: 280px;
  margin-bottom: -280px;
  max-width: 140px;
  box-shadow: 5px 5px 6px grey;
}

#back-to-top {
  padding: 2px;
  border: 2px solid var(--dark-blue);
  border-radius: 2px;
  color: var(--dark-blue);
  background: radial-gradient(white, skyblue);
  text-decoration: none;
  z-index: 999;
}

#email-form {
  background: hsl(230, 100%, 95%);
  color: var(--darker-blue);
  box-shadow: 0px 4px 7px grey;
}

input,
textarea {
  font-size: 14px;
}

#email-form,
#email-form > input,
textarea {
  border: 1px solid var(--dark-blue);
  padding: 7px;
  margin: 7px 0;
  width: 320px;
}

#email-form button {
  color: var(--darker-blue);
  border-radius: 3px;
  border: 1px solid var(--dark-blue);
  background: linear-gradient(white, hsl(230, 100%, 83%));
  padding: 2px 6px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

#email-form button:hover {
  background-image: linear-gradient(white, hsl(230, 100%, 73%));
}

footer a {
  color: var(--off-white);
  text-decoration: none;
  transition: color 160ms ease-in-out;
}

footer a:hover {
  color: var(--orange);
}

@media screen and (max-width: 600px) {
  .project-box {
    width: 98vw;
  }

  .mobile-project-img {
    max-width: 23vw;
    bottom: 46vw;
    margin-bottom: -46vw;
  }
}

@media screen and (max-width: 334px) {
  #email-form,
  #email-form > input,
  textarea {
    width: 96vw;
  }
}
